@import "~bootstrap/dist/css/bootstrap.css";

.container {
    display: flex;
}
.fotos {
    width: 50%;
}
.bizq {
    background-color: darkgreen;
    border-radius: 11%;
    color: white;
    margin-right: 10px;
}
.bdrch {
    background-color:red;
    border-radius: 11%;
    color: white
}