
@import "~reset-css/sass/reset";

.container {
    display: flex;
   
}
.textos{
    margin-left: 25px;
    padding-left: 25px;
    line-height: 50px;
}
.fotos {
    width: 20vw;
}
.bizq {
    background-color: darkgreen;
    border-radius: 11%;
    color: white;
    margin-right: 10px;
}
.bdrch {
    background-color:red;
    border-radius: 11%;
    color: white
}
h1{
    font-weight: bolder;
    font-size: 20px;
}
strong{
    font-weight: bolder;
    text-decoration: underline;
}