<!--
    In this part, im writting the original part of the component. After whith ngFor  im bringig data.service.
-->
<div *ngFor="let dato of listaDePost" class="container">
    <div>
        <img src = "{{ dato.image }}" class="fotos">
        <div class="botones">
            <button class="bizq" [routerLink]="['/formulario',dato.es.name]" (click)="editarAnimal(dato.id)">Edit word</button>
            <button class="bdrch" (click)="deleteAnimal(dato)">Delete word</button>
        </div>
    </div>
    <div class="textos">
        <h1> Spanish</h1>
        <p><strong classs="name">Name:</strong> {{dato.es.name}}</p>
        <p><strong>Definition:</strong> {{dato.es.definition}}</p>
        
        <h1>In English</h1>
        <p><strong>Name:</strong> {{dato.en.name}}</p>
        <p><strong>Definition:</strong> {{dato.en.definition}}</p>
    </div>

</div>