<div>
    <h1>
        Crearte new word
    </h1>
    <p>
        {{animalForm.value}}
    </p>
    <form [formGroup]="animalForm" (ngSubmit)="onSubmit(animalForm.value)" >
            <label >
                    id:
                <input formControlName="id" type="text" id="id">
            </label>
            <label >
                Url image:
            <input formControlName="image" type="text" id="image">
            </label>
            <div formGroupName="es">
                <label >
                    Name:
                <input  formControlName="name" type="text" id="name">
                </label>
           
                <label>
                    Description:
                <input formControlName="description" type="text" id="description">
                </label>
            </div>
        <div formGroupName="en">
            <label>
                Name:
            <input formControlName="name" type="text" id="name">
            </label>
        
            <label>
                    Description:
            <input  formControlName="description" type="text" id="description">
            </label>
        </div>
        <div>
            <button click="postAnimales" type="submit" [disabled]="!profileForm.valid">Submit</button>
        </div>
          </form>

    


</div>