<!--
    
-->

<div class="formnew">
    <h1>
        Crearte new word
    </h1>

    <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
        
        <label class="url">
            Url image:
            <input formControlName="image" type="text" id="image">
        </label>
        <div formGroupName="es" class="es">
            <p class="titulo">
                Spanish
            </p>
            <label>
                Name:
                <input formControlName="name" type="text" id="name">
            </label>

            <label>
                Definition:
                <input formControlName="definition" type="text" id="definition">
            </label>
        </div>
        <div formGroupName="en" class="es">
            <p class="titulo">
                English
            </p>
            <label>
                Name:
                <input formControlName="name" type="text" id="name">
            </label>

            <label>
                Definition:
                <input formControlName="definition" type="text" id="definition">
            </label>
        </div>
        <div class="es">
            <button click="postAnimales" type="submit">Submit</button>
        </div>
    </form>




</div>